@define-color bg {{ background }};
@define-color fg {{ foreground }};
@define-color hl {{ color10 }};
@define-color transparent #00000000;

* {
    font-family: monospace;
    font-size: 12px;
    color: #cccccc;
    background-image: none;
    border-width: 0;
    border-radius: 0;
    outline: none;
    min-height: 0;
    box-shadow: none;
    background: @transparent;
}

.tray .menu contents, arrow {
    background: @bg;
}
.tray .menu separator {
    border-top: 1px solid @fg;
}

.workspaces .item:not(.focused) {
    background: @bg;
}
.workspaces .item.focused {
    background: @transparent;
    border-top-right-radius: 24px;
    border: 12px @bg;
    border-style: solid solid none none;
    margin: -12px -12px 0 0;
}
.workspaces .item.focused:not(:first-child) {
    border-top-left-radius: 24px;
    border-left-style: solid;
    margin-left: -12px;
}
.workspaces .item.focused label {
    color: @hl;
    font-weight: 600;
}

.widget.focused {
    background: @bg;
    padding: 0 16px;
}

#end .widget.label {
    padding: 0 16px 0 0;
}
#end .widget:not(.edge) {
    background: @bg;
}

.edge {
    min-width: 28px;
}
.edge.right {
    background: linear-gradient(135deg, @bg 0 50%, @transparent 50% 100%);
}
.edge.left {
    background: linear-gradient(135deg, @transparent 0 50%, @bg 50% 100%);
}
